# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [86]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import numpy as np

In [87]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [88]:
#opening Naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

In [89]:
#entering designation and location as required

designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Analyst')

In [90]:
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [91]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

Top 10 Result for job-title, job-location, company_name, experience_required

In [92]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [93]:
#Scraping job title fro the given page
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping location from the data
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping comapny name
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping experience required
experience_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [94]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [95]:
df=pd.DataFrame(list(zip(job_title, job_location, company_name, experience_required)))

In [96]:
df.columns = ['Job Title','Location','Company','Experience required']

In [97]:
df

,Job Title,Location,Company,Experience required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-10 Yrs
2,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
3,HCL hiring For Data Analyst,"Bangalore/Bengaluru, Pune, Chennai",HCL Technologies,3-8 Yrs
4,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
5,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
6,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
7,Assistant Manager/Manager - Data Analyst - Ana...,"Bangalore/Bengaluru, Delhi / NCR",Huquo Consulting Pvt. Ltd,6-11 Yrs
8,Python Data Analyst - WFH,Remote,hCapital Business Consulting Private Limited,4-9 Yrs
9,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

In [98]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [99]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [100]:
#opening Naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

WebDriverException: Message: unknown error: cannot determine loading status
from disconnected: received Inspector.detached event
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0082DF13+2219795]
	Ordinal0 [0x007C2841+1779777]
	Ordinal0 [0x006D423D+803389]
	Ordinal0 [0x006C7DF8+753144]
	Ordinal0 [0x006C7AF6+752374]
	Ordinal0 [0x006C706A+749674]
	Ordinal0 [0x006C5F94+745364]
	Ordinal0 [0x006C6528+746792]
	Ordinal0 [0x006D06F5+788213]
	Ordinal0 [0x006C78FD+751869]
	Ordinal0 [0x006C853F+755007]
	Ordinal0 [0x006C7B11+752401]
	Ordinal0 [0x006C706A+749674]
	Ordinal0 [0x006C5F94+745364]
	Ordinal0 [0x006C63FD+746493]
	Ordinal0 [0x006D5A8E+809614]
	Ordinal0 [0x0072F87D+1177725]
	Ordinal0 [0x0071E7FC+1107964]
	Ordinal0 [0x0072F192+1175954]
	Ordinal0 [0x0071E616+1107478]
	Ordinal0 [0x006F7F89+950153]
	Ordinal0 [0x006F8F56+954198]
	GetHandleVerifier [0x00B22CB2+3040210]
	GetHandleVerifier [0x00B12BB4+2974420]
	GetHandleVerifier [0x008C6A0A+565546]
	GetHandleVerifier [0x008C5680+560544]
	Ordinal0 [0x007C9A5C+1808988]
	Ordinal0 [0x007CE3A8+1827752]
	Ordinal0 [0x007CE495+1827989]
	Ordinal0 [0x007D80A4+1867940]
	BaseThreadInitThunk [0x7725FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77C97A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77C97A6E+238]

In [ ]:
#entering designation and location as required

designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Scientist')

In [ ]:
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [ ]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [ ]:
job_title = []
job_location = []
company_name = []

In [ ]:
#Scraping job title fro the given page
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping location from the data
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping comapny name
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [ ]:
print(len(job_title), len(job_location), len(company_name))

In [ ]:
df=pd.DataFrame(list(zip(job_title, job_location, company_name)))

In [ ]:
df.columns = ['Job Title','Location','Company']

In [ ]:
df

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [ ]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [ ]:
#opening Naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

In [ ]:
#entering designation and location as required

designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Scientist')

In [ ]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [ ]:
location = driver.find_element(By.XPATH, '//span[@title="Delhi / NCR"]')
location.click()

In [ ]:
salary = driver.find_element(By.XPATH, '//span[@title="3-6 Lakhs"]')
salary.click()

In [ ]:
job_title = []
job_location = []
company_name = []

In [ ]:
#Scraping job title fro the given page
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

#scraping location from the data
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping comapny name
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [ ]:
print(len(job_title), len(job_location), len(company_name))

In [ ]:
df=pd.DataFrame(list(zip(job_title, job_location, company_name)))

In [ ]:
df.columns = ['Job Title','Location','Company']
df

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand 2. Product Description 3. Price

In [ ]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
brand = []
product_description = []
price = []

In [ ]:
start = 0
end = 3

for page in range(start,end):
    brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brands=i.text
        brand.append(brands)
        
for page in range(start,end):
    product_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_tags:
        products=i.text
        product_description.append(products)
        
for page in range(start,end):
    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price_tags:
        prices=i.text
        price.append(prices)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [ ]:
print(len(brand), len(product_description), len(price))

We got more than 100 entries as on one page we have 40 entries

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [ ]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
rating = []
review_summary=[]
full_review = []

In [ ]:
search_box_flipkart = driver.find_element(By.CLASS_NAME,'_3704LK')
search_box_flipkart.send_keys("iphone 11")

In [ ]:
button_click = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
button_click.click()

In [ ]:
iphone_11 = driver.find_element(By.CLASS_NAME,'_1fQZEK')
link_iphone_11 = iphone_11.get_attribute('href')
driver.get(link_iphone_11)
#iphone_11.click()

In [ ]:
All_review = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a')
All_review_link = All_review.get_attribute('href')
driver.get(All_review_link)

In [ ]:
start = 0
end = 10

for page in range(start,end):
    rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rate=i.text
        rating.append(rate)
        
for page in range(start,end):
    review_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in review_tags:
        review=i.text
        review_summary.append(review)
        
for page in range(start,end):
    fullreview_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in fullreview_tags:
        fr=i.text
        full_review.append(fr)
    
    next_button = driver.find_element(By.CLASS_NAME,'_1LKTO3')
    next_button.click()
    time.sleep(3)

In [ ]:
print(len(rating), len(review_summary), len(full_review))

In [ ]:
df_iphone=pd.DataFrame(list(zip(rating, review_summary, full_review)))
df_iphone.columns = ['Rating','Review_summary','Full_review']
df_iphone

# Q6 : Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [ ]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [ ]:
driver.get('https://www.flipkart.com/')

In [ ]:
Brand = []
ProductDescription=[]
Price = []

In [ ]:
search_box_flipkart = driver.find_element(By.CLASS_NAME,'_3704LK')
search_box_flipkart.send_keys("sneakers")

In [ ]:
button_click = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
button_click.click()

In [ ]:
start = 0
end = 3

for page in range(start,end):
    brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand_name=i.text
        Brand.append(brand_name)
        
for page in range(start,end):
    product_description_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_description_tags:
        product_description=i.text
        ProductDescription.append(product_description)
        
for page in range(start,end):
    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in price_tags:
        price=i.text
        Price.append(price)
    
    next_button = driver.find_element(By.CLASS_NAME,'_1LKTO3')
    next_button.click()
    time.sleep(3)

In [ ]:
df_sneakers=pd.DataFrame(list(zip(Brand, ProductDescription, Price)))
df_sneakers.columns = ['Brand', 'Product Description', 'Price']
df_sneakers = df_sneakers.drop(df_sneakers.index[100:])
df_sneakers

# Q7 : Go to the link - https://www.myntra.com/shoes , Set second Price filter and Color filter to “Black”, as shown in the below image.

In [ ]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [ ]:
driver.get('https://www.myntra.com/shoes')

In [ ]:
Shoes_Brand = []
Short_Shoe_Description=[]
Shoes_Price = []

In [ ]:
Filter_flipkart = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
Filter_flipkart.click()

In [ ]:
ColourFilter_flipkart = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
ColourFilter_flipkart.click()

In [ ]:
start = 0
end = 2

for page in range(start,end):
    brand_tags = driver.find_elements(By.XPATH, '//h3[@class="product-brand"]')
    for i in brand_tags:
        brand_name=i.text
        Shoes_Brand.append(brand_name)
        
for page in range(start,end):
    product_description_tags = driver.find_elements(By.XPATH, '//h4[@class="product-product"]')
    for i in product_description_tags:
        product_description=i.text
        Short_Shoe_Description.append(product_description)
        
for page in range(start,end):
    price_tags = driver.find_elements(By.XPATH, '//div[@class="product-price"]')
    for i in price_tags:
        price=i.text
        Shoes_Price.append(price)
    
    next_button = driver.find_element(By.CLASS_NAME,'pagination-next')
    next_button.click()
    time.sleep(3)

In [ ]:
print(len(Shoes_Brand), len(Short_Shoe_Description), len(Shoes_Price))

In [ ]:
df_Shoes=pd.DataFrame(list(zip(Shoes_Brand, Short_Shoe_Description, Shoes_Price)))
df_Shoes.columns = ['Shoes_Brand', 'Short_Shoe_Description', 'Shoes_Price']
df_Shoes

# Q8 Go to webpage https://www.amazon.in/,Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7”, and scrape 10 laptop data

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import numpy as np

In [ ]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [ ]:
driver.get('https://www.amazon.in')

In [ ]:
Laptop_title = []
Laptop_Ratings =[]
Laptop_Price = []

In [ ]:
search_box_amazon = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_box_amazon.send_keys("Laptop")

In [ ]:
button_click = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]')
button_click.click()

In [ ]:
Filter_laptop = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[10]/span/a/span')
Filter_laptop.click()

In [ ]:
Laptop_Title_tags = driver.find_elements(By.XPATH, '//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in Laptop_Title_tags:
    Title=i.text
    Laptop_title.append(Title)
        

Laptop_Rating_tags = driver.find_elements(By.XPATH, '//div[@class="a-row a-size-small"]')
for i in Laptop_Rating_tags:
    ratings=i.text
    Laptop_Ratings.append(ratings)
        

Price_tags = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in price_tags:
    price=i.text
    Laptop_Price.append(price)

In [ ]:
print(len(Laptop_title), len(Laptop_Ratings), len(Laptop_Price))

In [ ]:
df_Laptop=pd.DataFrame(list(zip(Laptop_title, Laptop_Ratings, Laptop_Price)))
df_Laptop.columns = ['Laptop_title', 'Laptop_Ratings', 'Laptop_Price']
df_Laptop = df_Laptop.drop(df_Laptop.index[10:])
df_Laptop

it is showing error chrome not reachable

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import numpy as np

In [ ]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [ ]:
driver.get('https://www.ambitionbox.com/')

In [ ]:
button_click = driver.find_element(By.CLASS_NAME,"navItemLink")
button_click.click()

In [ ]:
#entering designation and location as required

designation = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [ ]:
button_click = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
button_click.click()

In [ ]:
button_click = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
button_click.click()

In [ ]:
designation = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
designation.send_keys('Noida')

In [ ]:
button_click = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
button_click.click()

In [ ]:
company = []
nod =[]
rating = []

In [ ]:
company_tags = driver.find_elements(By.XPATH, '//p[@class="company body-medium"]')
for i in company_tags:
    com=i.text
    company.append(com)
        

nod_tags = driver.find_elements(By.XPATH, '//span[@class="body-small-l"]')
for i in nod_tags:
    noofdays=i.text
    nod.append(noofdays)
        

rate_tags = driver.find_elements(By.XPATH, '//span[@class="body-small"]')
for i in rate_tags:
    rate=i.text
    rating.append(rate)

In [ ]:
cf = pd.DataFrame(nod)
cf

In [ ]:
cf.drop(cf[cf[0] == "via naukri.com"].index,inplace=True)
cf.drop(cf[cf[0] == "via iimjobs.com"].index,inplace=True)
cf.drop(cf[cf[0] == "via hirist.com"].index,inplace=True)
cf

In [ ]:
 gf = cf.reset_index()

In [ ]:
gf.drop(columns = ['index'],inplace = True)
gf

In [ ]:
df1 = gf.values.tolist()
df1

In [ ]:
df_ambition=pd.DataFrame(list(zip(company, df1, rating)))
df_ambition.columns = ['Comapny Name', 'no of days', 'Rating']
df_ambition

# Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [104]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import numpy as np

In [161]:
driver = webdriver.Chrome(r'C:\chromedriver_win32\chromedriver.exe')

In [162]:
driver.get('https://www.ambitionbox.com/')

In [163]:
button_click = driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span")
button_click.click()

In [164]:
button_click = driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div")
button_click.click()

In [178]:
designation = driver.find_element(By.XPATH, "/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data Scientist')

In [179]:
button_click = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
button_click.click()

In [180]:
company = []
total_salary =[]
average_salary = []
minimum_salary = []
exp_req = []

In [181]:
company_tags = driver.find_elements(By.XPATH, '//a[@data-v-4c07f399]')
for i in company_tags:
    com=i.text
    company.append(com.split('\n'))
        

tsalary_tags = driver.find_elements(By.XPATH, '//div[@class="value body-medium"]')
for i in tsalary_tags:
    ts=i.text
    total_salary.append(ts)
        

asalary_tags = driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')
for i in asalary_tags:
    ass =i.text
    average_salary.append(ass)
    
msalary_tags = driver.find_elements(By.XPATH, '//div[@class="value body-medium"]')
for i in msalary_tags:
    ms=i.text
    minimum_salary.append(ms)
    
ereq_tags = driver.find_elements(By.XPATH, '//div[@class="sbold-list-header"]')
for i in ereq_tags:
    er=i.text
    exp_req.append(er)

In [182]:
print(len(company), len(total_salary), len(average_salary), len(minimum_salary), len(exp_req))

10 20 10 20 10

In [186]:
company = pd.DataFrame(company)

company.drop(columns = [1], inplace=True)

KeyError: '[1] not found in axis'

In [189]:
company
company = company.rename(columns = {0:'Company Name'})
company

                 Company Name
0                     Walmart
1                    Ab Inbev
2                       Optum
3                          ZS
4           Fractal Analytics
5             Tiger Analytics
6           Sigmoid Analytics
7  Legato Health Technologies
8                        HSBC
9                    Tredence

In [190]:
total_salary = pd.DataFrame(total_salary)
total_salary

          0
0   ₹ 25.0L
1   ₹ 45.0L
2   ₹ 15.0L
3   ₹ 26.0L
4   ₹ 11.0L
5   ₹ 22.6L
6   ₹ 11.0L
7   ₹ 22.0L
8    ₹ 9.0L
9   ₹ 23.0L
10   ₹ 9.0L
11  ₹ 20.0L
12  ₹ 12.7L
13  ₹ 19.7L
14  ₹ 11.0L
15  ₹ 20.0L
16  ₹ 12.0L
17  ₹ 18.0L
18   ₹ 8.8L
19  ₹ 17.5L

In [193]:
for i in range(20):
    if i%2 == 0:
        total_salary = total_salary.drop([i])

In [197]:
total_salary = total_salary.rename(columns = {0:'total_salary'})

In [199]:
total_salary

   total_salary
1       ₹ 45.0L
3       ₹ 26.0L
5       ₹ 22.6L
7       ₹ 22.0L
9       ₹ 23.0L
11      ₹ 20.0L
13      ₹ 19.7L
15      ₹ 20.0L
17      ₹ 18.0L
19      ₹ 17.5L

In [200]:
total_salary = total_salary.reset_index()

In [201]:
total_salary

   index total_salary
0      1      ₹ 45.0L
1      3      ₹ 26.0L
2      5      ₹ 22.6L
3      7      ₹ 22.0L
4      9      ₹ 23.0L
5     11      ₹ 20.0L
6     13      ₹ 19.7L
7     15      ₹ 20.0L
8     17      ₹ 18.0L
9     19      ₹ 17.5L

In [202]:
average_salary = pd.DataFrame(average_salary)
average_salary.rename(columns={0:'Average Salary'}, inplace=True)
average_salary

  Average Salary
0        ₹ 32.3L
1        ₹ 19.9L
2        ₹ 16.4L
3        ₹ 15.8L
4        ₹ 15.4L
5        ₹ 14.7L
6        ₹ 14.7L
7        ₹ 14.5L
8        ₹ 14.0L
9        ₹ 13.9L

In [203]:
minimum_salary = pd.DataFrame(minimum_salary)
minimum_salary

          0
0   ₹ 25.0L
1   ₹ 45.0L
2   ₹ 15.0L
3   ₹ 26.0L
4   ₹ 11.0L
5   ₹ 22.6L
6   ₹ 11.0L
7   ₹ 22.0L
8    ₹ 9.0L
9   ₹ 23.0L
10   ₹ 9.0L
11  ₹ 20.0L
12  ₹ 12.7L
13  ₹ 19.7L
14  ₹ 11.0L
15  ₹ 20.0L
16  ₹ 12.0L
17  ₹ 18.0L
18   ₹ 8.8L
19  ₹ 17.5L

In [204]:
for i in range(20):
    if i%2 != 0:
        minimum_salary = minimum_salary.drop([i])

In [205]:
minimum_salary

          0
0   ₹ 25.0L
2   ₹ 15.0L
4   ₹ 11.0L
6   ₹ 11.0L
8    ₹ 9.0L
10   ₹ 9.0L
12  ₹ 12.7L
14  ₹ 11.0L
16  ₹ 12.0L
18   ₹ 8.8L

In [206]:
minimum_salary.rename(columns={0:'Minimum Salary'}, inplace=True)
minimum_salary = minimum_salary.reset_index()

In [207]:
minimum_salary

   index Minimum Salary
0      0        ₹ 25.0L
1      2        ₹ 15.0L
2      4        ₹ 11.0L
3      6        ₹ 11.0L
4      8         ₹ 9.0L
5     10         ₹ 9.0L
6     12        ₹ 12.7L
7     14        ₹ 11.0L
8     16        ₹ 12.0L
9     18         ₹ 8.8L

In [208]:
exp_req = pd.DataFrame(exp_req)
exp_req.rename(columns={0:'experience required'}, inplace=True)
exp_req

                          experience required
0   3-4 yrs experience (based on 23 salaries)
1   2-4 yrs experience (based on 57 salaries)
2   2-4 yrs experience (based on 49 salaries)
3   1-2 yrs experience (based on 34 salaries)
4  2-4 yrs experience (based on 115 salaries)
5   2-4 yrs experience (based on 68 salaries)
6      1 yr experience (based on 10 salaries)
7     4 yrs experience (based on 11 salaries)
8     4 yrs experience (based on 10 salaries)
9     3 yrs experience (based on 14 salaries)

In [209]:
df = pd.concat([company, total_salary, average_salary, minimum_salary, exp_req], axis=1)

In [210]:
df

,Company Name,index,total_salary,Average Salary,index,Minimum Salary,experience required
0,Walmart,1,₹ 45.0L,₹ 32.3L,0,₹ 25.0L,3-4 yrs experience (based on 23 salaries)
1,Ab Inbev,3,₹ 26.0L,₹ 19.9L,2,₹ 15.0L,2-4 yrs experience (based on 57 salaries)
2,Optum,5,₹ 22.6L,₹ 16.4L,4,₹ 11.0L,2-4 yrs experience (based on 49 salaries)
3,ZS,7,₹ 22.0L,₹ 15.8L,6,₹ 11.0L,1-2 yrs experience (based on 34 salaries)
4,Fractal Analytics,9,₹ 23.0L,₹ 15.4L,8,₹ 9.0L,2-4 yrs experience (based on 115 salaries)
5,Tiger Analytics,11,₹ 20.0L,₹ 14.7L,10,₹ 9.0L,2-4 yrs experience (based on 68 salaries)
6,Sigmoid Analytics,13,₹ 19.7L,₹ 14.7L,12,₹ 12.7L,1 yr experience (based on 10 salaries)
7,Legato Health Technologies,15,₹ 20.0L,₹ 14.5L,14,₹ 11.0L,4 yrs experience (based on 11 salaries)
8,HSBC,17,₹ 18.0L,₹ 14.0L,16,₹ 12.0L,4 yrs experience (based on 10 salaries)
9,Tredence,19,₹ 17.5L,₹ 13.9L,18,₹ 8.8L,3 yrs experience (based on 14 salaries)

Cant figure out why index value is coming after droping it